/target
.vs/
doc/~*.*
.vscode/
*.bat

flamegraph.svg
perf.data
perf.data.old
docs/criterion/*
benches/summary*.tsv
benches/results*.xlsx
benches/~$summary_r.tsv.xlsx
benches/summary_r.tsv.xlsx
benches/~$summary_r5.tsv.xlsx
benches/summary_r5.tsv.xlsx
benches/~$summary_r7.tsv.xlsx
benches/summary_r7.tsv.xlsx
